# Created by https://www.gitignore.io/api/gradle,intellij
# Edit at https://www.gitignore.io/?templates=gradle,intellij

# Ignore IDEA Platform directories
.idea/
**/out/**

### Gradle ###
.gradle/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/

docs/

# End of https://www.gitignore.io/api/gradle,intellij
.project
*.prefs
core/.classpath
*.class
mutatio/.classpath
restless/.classpath
restless/bin/test/dummy/message.json
spellbind/.classpath
uniform/.classpath
uniform/bin/test/dummy/message.json
varbind/.classpath
webkit/.classpath
webkit/bin/main/org/comroid/webkit/internal/api.js
webkit/bin/main/org/comroid/webkit/internal/error.html
webkit/oauth/.classpath
